services:
  sonarqube:
    image: sonarqube:lts
    ports:
      - "9000:9000"

  jenkins:
    image: jenkins/jenkins:lts
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - secure-pipe_jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
